body {
  background: black;
}

#game {
  width: 854px;
  height: 480px;
  background: white;
}

#title div {
  height:100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}